/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Admin header styling */
  .admin-header {
    background-color: green;
    color: #fff;
    padding: 0px 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin-logo img {
    height: 100px;
    width:100px
  }
  
  .admin-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .admin-nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .admin-nav ul li:first-child {
    margin-left: 0;
  }
  
  .admin-nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .admin-nav ul li a:hover {
    text-decoration: underline;
  }
  body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }


  /* header is over here /*

  /* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}

td button:hover {
  background-color: #c82333;
}
