<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BESTBUY</title>
    <link rel="shortcut icon" href="./../../public/images/userhome/logo_black .png" type="image/x-icon">
    <link rel="stylesheet" href="/css/user/userhome/style.css">
    <link rel="shortcut icon" href="./assets/icon.png" type="image/.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="./css/responsiveHome.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
</head>
<body>
              <section id="header">
             
                <a href="#"><img class ="logo"src="/images/userhome/logo.png" alt="logo" class="logo" style="width: 80px; height: 82px;"></a>
                <div>
                    <ul id="navbar">
                        <li class="search-bar">
                            <input type="text" name="searchbar" id="search">
                            <i class="fa-solid fa-magnifying-glass" id="icon"></i>
                        </li>
                        <li><a class="active" href="/index.html" style="text-decoration: none;">Home</a></li>
                        <li><a href="./sub-pages/shop.html">Category</a></li>
                        <li><a href="/userhome/men">men</a></li>
                        <li><a href="/userhome/women">women</a></li>
                        <li><a href="/userhome/account">Account</a></li>
                        <li><a href="/userhome/wishlist"><i class="fa-solid fa-heart"></i></a></li>
                        <li class="lg-bag"><a href="/userhome/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
                        <li><a href="#">logout</a></li>
                    </ul>
</div>
</section>
</body>
</html>