<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Successful</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f2f2f2;
    }

    .container {
      text-align: center;
    }

    .message {
      font-size: 24px;
      font-weight: bold;
      color: #007bff;
      margin-bottom: 20px;
    }

    .emoji {
      font-size: 40px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="message">Thank you for your order, payment successful!</div>
    <div class="emoji">&#128522;&#128525;</div>
  </div>
  <script>
setTimeout(() => {
       
        window.location.href="/userhome/orders";
    }, 3000); 






  </script>
</body>

</html>
